# Workspace
node_modules/
.pnpm-store/
.turbo/

# Editor/OS
.DS_Store
.idea/
.vscode/

# Env files
.env
.env.*
!.env.example

# Build artifacts
coverage/
dist/
build/
*.tsbuildinfo
apps/*/.turbo/
apps/admin-web/.next/

# Per-app node_modules
apps/*/node_modules/
packages/*/node_modules/

# Expo dev artifacts
.expo/

# Supabase local state
apps/functions/supabase/.temp/
apps/functions/supabase/.branches/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
